.parent {
    background: white;
    display: flex;
    justify-content: center;

}

.greenBox {
    background: green;
    height: 30vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img{
    width:20vw;
    height: 13vw;

}
.wordbox {
    height:2vw;
    width: 80%;

}
.pushit {
    display:flex;
    justify-content: center;
}
.redpush{
    background: red;
    
}

